.custom-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px gray solid;
}

.custom-checkbox input:checked+span {
    background-color: red;
    border-radius: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(arrow.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 95%;
}