* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    background-color: black;
    font-family: 'IBM Plex Mono', 'Open Sans', 'Roboto', sans-serif;
    color: #FFFFFF;
}

header {
    margin-top: 30px;
}

.menu {
    display: inline-block;
}

.menu li {
    display: inline-block;
}

.menu__item {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo {
    text-decoration: none;
    color: white;
    font-style: bold;
    font-size: 50px;
    padding: 20px;
    margin-right: 700px;
}

.container-outer {
    max-width: 1600px;
    margin: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.contacts-section {
    border: white solid 3px;
    margin-top: 70px;
    background-image: url("../images/background_image.svg");
    background-repeat: no-repeat;
    background-position: 75% 85%;
}

h1.title-fio {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    width: 518px;
    margin-top: 40px;
    margin-left: 110px;
    margin-bottom: 25px;
}

h2.title-specialization {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    margin-left: 110px;
    margin-bottom: 70px;
}

.contacts {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-left: 148px;
    margin-bottom: 327px;
}

.contacts li {
    margin-bottom: 20px;
}

.contact-title::after {
    content: ">";
    margin-left: 15px;
}

.contacts a {
    color: white;
}

@media (max-width: 1000px) {
    .contacts-section {
        background-image: none;
        margin-top: 0px;
    }
}

@media (max-width: 700px) {
    h1.title-fio {
        margin-top: 100px;
        margin-left: 55px;
        font-size: 34px;
        line-height: 50px;
        width: 315px;
    }
    h2.title-specialization {
        font-size: 34px;
        margin-left: 55px;
        margin-bottom: 50px;
    }
    .contacts {
        font-size: 20px;
        margin-left: 74px;
        margin-bottom: 327px;
    }
}

@media (max-width: 400px) {
    h1.title-fio {
        margin-top: 50px;
        margin-left: 20px;
        font-size: 26px;
        line-height: 34px;
        width: 250px;
    }
    h2.title-specialization {
        font-size: 26px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .contacts {
        font-size: 14px;
        margin-left: 37px;
    }
    .contacts li {
        margin-bottom: 10px;
    }
}