* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: blueviolet;
    padding: 50px 0;
}

nav {
    background-color: rgb(151, 105, 194);
    text-align: center;
}

header li {
    display: inline-block;
    background-color: rgb(151, 105, 194);
    width: 100px;
}

header li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

header li a:hover {
    color: rgba(130, 13, 134, 0.534);
}

header li ul li {
    display: block;
    position: relative;
}

header li ul {
    position: absolute;
    display: none;
}

header li:hover>ul {
    display: block;
}

header li ul li ul {
    left: 100px;
    top: 0;
}